@import 'tailwindcss';
@import './fonts.css';

@theme {
  --font-neue-montreal:
    'Neue Montreal', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-jogan-soft:
    'Jogan Soft', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-background: oklch(0.9824 0.013 71.33);
  --color-foreground: oklch(0.0672 0 0);
  --color-primary: oklch(0.7418 0.1636 57.85);
  --color-secondary: oklch(0.8269 0.0622 246.36);
}

:root {
  font-family: 'Neue Montreal', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-foreground);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  @apply mx-auto max-w-[1380px];
}
